table { border-collapse:collapse;}
			table.wth { width:500px; }
			tr, td { padding:3px; } 
      h1 {
            text-align: center;
            font-size: 24px;
            margin-bottom: 10px;
            color: #007bff;
        }
      p {
            font-size: 14px;
            color: #666;
            margin-bottom: 30px;
        }
			td.left { width:80px; background-color: #dddddd; }
			td.right { width:420px;}
      body {
            font-family: 'Noto Sans KR', Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: linear-gradient(135deg, #f8f9fc, #e9ecef);
            color: #333;
        }
        .container {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px 30px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            animation: fadeIn 0.8s ease;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(10px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        form {
            display: flex;
            flex-direction: column;
        }

        .form-group {
            margin-bottom: 20px;
        }
        .button-container {
          text-align: center;
          margin-top: 20px;
        }

      .button-container input[type="submit"] {
          background-color: #007bff;
          color: white;
          padding: 10px 20px;
          font-size: 14px;
          font-weight: bold;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
      }

      .button-container input[type="submit"]:hover {
          background-color: #0056b3;
      }

      .button-container input[type="button"] {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        font-size: 12px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .button-container input[type="button"]:hover {
        background-color: #0056b3;
    }

      .button-container input[type="reset"] {
          background-color: #f8f9fc;
          color: #333;
          padding: 10px 20px;
          font-size: 14px;
          font-weight: bold;
          border: 1px solid #ccc;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
      }

      .button-container input[type="reset"]:hover {
          background-color: #e9ecef;
      }